.background{
    -fx-background-color: #232323;
}

.front-pane{
    -fx-background-color: #2d2d2d;
    -fx-border-color: #1a55cb;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.attribute{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.top-label{
    -fx-text-fill: #1a55cb;
    /*-fx-font-weight: bold;*/
    -fx-font-size: 45px;
}

.top-name{
    -fx-text-fill: white;
    /*-fx-font-weight: bold;*/
    -fx-font-size: 45px;
}


.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 3 0 ;
    -fx-background-radius: 0 ;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: #535353;
    -fx-font-size: 20px;
    -fx-background-color: #1a55cb, white;
}

.findStudentButton{
    -fx-background-color: #1a55cb;
}

.findStudentButton:hover{
    -fx-background-color: #3a6cd9;
}

.findStudentButton:pressed{
    -fx-background-color: #1442a2;
}

.findStudentButton .text {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.gridPane{
    /*-fx-grid-lines-visible: true;*/
    -fx-alignment: center;
    /*-fx-padding: 5;*/
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: -15;
    -fx-border-radius: 5;
    -fx-border-color: #1a55cb;
}

.check-box {
    -fx-font-size:18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: white;
    /*-fx-border-color: -fx-darkest-grey-color;*/
    -fx-border-radius: 0;
    -fx-padding: 8px;
}
.check-box .mark {
    /*-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";*/
    -fx-padding: 8px;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: #1a55cb;
}


.combo-box{
    /*-fx-border-color:#E6E6E6;*/
    /*-fx-border-style:solid;*/
    /*-fx-border-width:1;*/
}
.combo-box .arrow{
    -fx-background-color: white;
    -fx-padding:4px;
}
.combo-box .arrow-button{
    -fx-background-color:white;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color: #1a55cb;
}
.combo-box .list-cell{
    -fx-background-color: white;
}

.combo-box .list-cell:hover{
    -fx-background-color: #1a55cb;
}

.combo-box .list-cell:selected{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.stylized-button{
    -fx-background-color: #1a55cb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-rotate: -2deg;*/
    -fx-font-size: 16px;

}

.stylized-button-frame{
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
    /*-fx-rotate: -2deg;*/

}

.stylized-button:hover{
    -fx-background-color: #f1f1f1;
}

.stylized-button:pressed{
    -fx-translate-x: 8;
    -fx-translate-y: -6;
    -fx-background-color: #e3e3e3;
}

/*.tab-pane *.tab-header-area{*/
/*    !*-fx-padding: 4.0em -0.1em 0em 0.0em;*!*/
/*}*/

/*.tab-pane .tab{*/
/*    -fx-pref-height: 40px;*/
/*    -fx-background-color: #123a8c;*/
/*}*/

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #EBEAF0;
}
.tab {
    -fx-pref-height: 40px;
    -fx-background-color: #123a8c;
}
.tab:selected {
    -fx-background-color: #1a55cb;
}
.tab:focused {
    -fx-focus-color: transparent;
}
.tab-pane *.tab-header-background {
    -fx-background-color: #1d1d1d;
}
.tab-pane:left *.tab-header-area {
    /*-fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em 0.0em 0.0em 0.0em;*/
    -fx-padding: 10.0em -0.1em 0em 0.0em;
}
.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    /*-fx-pref-width: 150.0;*/
    -fx-text-fill: white;
}

.tab-panel:left > .tab-header-area > .control-buttons-tab > .container{
    visibility: hidden;
}

.table-view .table-cell{
    /*-fx-border-color: transparent;*/
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #E7BB41;
    -fx-text-background-color: #a98521;
}
.table-row-cell:odd{
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #e5e5e5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell{
    -fx-text-background-color: black;
}

.table-row-cell:selected{
    -fx-text-background-color: #e7e5df;
    -fx-background-color: #393e41;
    -fx-font-weight: bold;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #1747a5;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
