@font-face {
    font-family: 'Montserrat2';
    src: url('../Fonts/Montserrat-Bold.ttf');
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 2 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: #1b998b, #f8f8f8 ;
}

.text-field{
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: #535353;
    -fx-font-size: 20px;
    -fx-background-color: #1b998b, white;
}

.label{
    -fx-font-family: Montserrat2;
}
.root{
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #1a1a1a;
}

.real-button{
    -fx-background-color: #1b998b;
    -fx-text-fill: #000000;
    -fx-rotate: -2deg;
    -fx-text-fill: white;
    -fx-font-size: 16px;

}

.not-button{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-rotate: -2deg;

}

.real-button:hover{
    -fx-background-color: #1fb5a4;
}

.real-button:pressed{
    -fx-translate-x: 4;
    -fx-translate-y: -5;
}